<div class="footer container-fluid row text-light text-center">
    <div class="col-md-4">
        <div class="my-5 py-5">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <h3>LOCATION</h3>
                <p>2215 John Daniel Drive</p>
                <span>Clark, MO 65243</span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="my-5 py-5">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <h3>AROUND THE WEB</h3>
                <div class="pt-3">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-linkedin"></i>
                    <i class="fa-solid fa-globe"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="mt-5 pt-5">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <h3>ABOUT FREELANCER</h3>
                <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            </div>
        </div>
    </div>
    <div class="w-100 d-flex justify-content-center align-items-center copy">
        <p class="my-3 py-3">Copyright © Your Website 2021</p>
    </div>
</div>