<div class="container d-flex justify-content-center align-items-center flex-column contact">
    <h2 class="text-uppercase">conatct section</h2>
    <div class="lines position-relative">
        <i class="fa-solid fa-star"></i>
    </div>
    <form class="w-75">
        <input type="text" placeholder="User name"class="form-control w-100 shadow-none border-0 border-bottom py-4 position-relative">
        <input type="text" placeholder="User age"class="form-control w-100 shadow-none border-0 border-bottom py-4 position-relative">
        <input type="text" placeholder="User Email"class="form-control w-100 shadow-none border-0 border-bottom py-4 position-relative">
        <input type="text" placeholder="User Password"class="form-control w-100 shadow-none border-0 border-bottom py-4 position-relative">
        <button class="btn btn-success mt-4">Send Message</button>
    </form>
</div>