<div class="container d-flex justify-content-center align-items-center flex-column gallery">
    <h3 class="text-uppercase">portfolio component</h3>
    <div class="lines position-relative">
        <i class="fa-solid fa-star"></i>
    </div>
    <div class="row g-4 pt-3">
        <div class="col-lg-4 col-md-6">
            <div class="img-container">
                <img class="w-100 rounded" src="../../assets/images/portfolio/poert1.png" alt="">
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="img-container">
                <img class="w-100 rounded" src="../../assets/images/portfolio/port2.png" alt="">
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="img-container">
                <img class="w-100 rounded" src="../../assets/images/portfolio/port3.png" alt="">
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="img-container">
                <img class="w-100 rounded" src="../../assets/images/portfolio/poert1.png" alt="">
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="img-container">
                <img class="w-100 rounded" src="../../assets/images/portfolio/port2.png" alt="">
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="img-container">
                <img class="w-100 rounded" src="../../assets/images/portfolio/port3.png" alt="">
            </div>
        </div>
    </div>
</div>